html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    background-color: black;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1B1B27;
    font-size: 13px;
    line-height: 16px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace
}

.hljs-variable {
    color: red
}

.hljs-type {
    color: orange
}
.hljs-literal {
    color: yellow
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
    color: #72C2B9;
}

.hljs-function .hljs-keyword {
    color: #ff79c6;
}

.hljs,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-template-tag,
.hljs-template-variable {
    color: #5395E0
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #7E83ED
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
    font-weight: semi-bold;
}

.hljs-emphasis {
    font-style: italic;
}